#ticketbody{
    width: 100%;
    height: 80vh;
    background-image: url('./src/assets/theter2.jpg');
}

.ticketform{
    text-align: center;
    font-weight: bold;
width: 25%;
height: 70vh;
margin: auto;
padding: 10px;
background-color: rgb(198, 191, 191);
}

@media (max-width:900px){
   .ticketform{
    width: 70%;
   }
}
