#footer{
    width: 100%;
    height: 300px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sect{
    width: 400px;
    height: 250px;
    text-align: center;
}

.sec{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}

.iconfoot{
background-color: rgb(83, 73, 73);
width: 30px;
height: 30px;
text-align: center;
padding: 2px 2px;
border-radius: 50px;
margin: 10px;
display: grid;
place-items: center;
}

#footerlast{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (min-width: 0px) and (max-width:900px){
    #footer{
        height: 80vh;
        flex-wrap: wrap;
    }

  
}