#signup{
     background-color: lightblue ;
   width: 25%;
     height:80vh;
     text-align: center;
margin:  auto;
border-radius: 10px;
}

input{
    border: none;
    text-decoration: underline;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.btn{
    font-weight: bold;
    border: 2px solid gray;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: blue;
}

#login{
    height: 400px;
    width: 300px;
    background-color: lightgray;
    margin: auto;
    text-align: center;
    border-radius: 10px;

}

@media (max-width:900px){
    #signup{
        width: 80%;
        height: 70vh;
    }
}



