
.swiper {
  width: 100%;
  height: 85vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
} 

.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
}













.button{
      position: absolute;
  bottom: 30px; /* position button at bottom */
  left: 30%;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: large;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;

}


.slidecontainer{
  width: 100%;
  height: 85vh;
}



@media (max-width:900px){
  .swiper-slide img{
    width: 100%;
    height: 50vh; 

  }
  .slidecontainer{
  width: 100%;
  height: 50vh;
}
.swiper {
  width: 100%;
  height: 50vh;
}
.button{
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: small;
  border: none;
  border-radius: 8px;

}
}